          
          <div class="news">
            <h2>Products & Software</h2>
            {% if site.news != blank -%} 
            {%- assign news_size = site.news | size -%}
            <div class="product-list">
              {%- assign news = site.news | reverse -%}
              {% if site.news_limit %}
              {% assign news_limit = site.news_limit %}
              {% else %}
              {% assign news_limit = news_size %}
              {% endif %}
              {% for item in news limit: news_limit %} 
                <div class="product-item">
                  {% if item.image -%}
                      <a class="product-thumb" href="{{ item.product_url }}" target="_blank">
                      <img src="{{ item.image | prepend: '/assets/img/' | relative_url }}" alt="{{ item.title | default: 'Product preview' }}">
                    </a>
                  {%- endif %}
                  <div class="product-copy">
                    {% if item.inline -%} 
                      {{ item.content | emojify }}
                    {%- else -%} 
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </div>
                </div>
              {%- endfor %} 
            </div>
          {%- else -%} 
            <p>No news so far...</p>
          {%- endif %} 
          </div>
